
/*App.css*/

.App {
  font-size: calc(10px + 2vmin);
  color: #006400; /* Dark green text */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #f5f5dc; /* Cream background */
}

.search-container {
  width: 100%;
  max-width: 500px; /* Adjust width as needed */
  position: relative; /* For positioning the suggestions */
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  margin-bottom: 20px;
}

.logo {
  height: auto;
  margin-right: 10px;
}

.company-name {
  font-size: 1.5em;
  font-weight: bold;
  color: #006400;
  margin-bottom: 0;
  user-select: none; /* Prevents text selection */
}

.search-bar {
  position: relative;
  display: flex;
  align-items: center;
  border: 2px solid #8FBC8F; /* Light green border */
  border-radius: 4px;
  overflow: hidden;
}

.search-input {
  padding: 10px;
  width: 100%;
  border: none;
  outline: none;
  font-size: 1em;
}

.suggestions {
  position: absolute;
  width: 100%;
  background: #fff;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 4px 4px;
}

.suggestions li {
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.suggestions li:hover {
  background-color: #f5f5dc;
}

.suggestions li.active {
  background-color: #8FBC8F;
  color: #fff;
}

.static-suggestions {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
}

.static-suggestions li {
  flex-basis: calc(33% - 10px);
  margin-bottom: 10px;
  background-color: #fff;
  padding: 8px 12px;
  border-radius: 4px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}

.static-suggestions li:hover {
  background-color: #f5f5dc;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.login-input {
  margin: 10px 0;
  padding: 10px;
  width: calc(100% - 20px); /* Adjust width as needed */
  border: 2px solid #8FBC8F; /* Light green border to match search input */
  border-radius: 4px;
  font-size: 1em;
}

.login-button {
  padding: 10px 20px;
  background-color: #8FBC8F; /* Light green background */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1em;
  margin-top: 10px;
}

.login-button:hover {
  background-color: #006400; /* Darker green on hover */
}

.tagline {
  font-size: 1em;
  color: #006400; /* Dark green text to match the app theme */
  text-align: center; /* Center-align the text */
  margin: 20px 0; /* Add some margin for spacing */
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1s;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  border: 4px solid #f3f3f3; /* Light grey */
  border-top: 4px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  margin: 20px auto;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.form-container {
  max-width: 600px;
  margin: 20px auto;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.calorie-result h2 {
  margin: 0;
  color: #4CAF50; /* Green for calories number */
}

.calorie-result p {
  margin: 10px 0 20px;
  color: #666; /* Dark grey for the subtitle */
}

.table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.table th,
.table td {
  padding: 10px;
  border: 1px solid #ddd; /* Light grey border */
}

.table th {
  background-color: #4CAF50; /* Green background for headers */
  color: white;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2; /* Zebra striping for rows */
}

.form-group {
  margin-bottom: 20px; /* Increase spacing between form groups */
}

.measurement-choice label,
.gender-choice label {
  margin-right: 10px; /* Add some spacing to the right of each label */
}

.browser-default.custom-select {
  display: block;
  width: 100%;
  padding: 0.375rem 1.75rem 0.375rem 0.75rem; /* Adjust padding as needed */
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem; /* Rounded corners for select */
  margin-top: 5px; /* Spacing between label and select */
}

.login-button.form-submit {
  width: 100%; /* Full width button */
  padding: 10px;
  margin-top: 20px; /* Increase spacing before the submit button */
}

/* Additional styles for visual enhancements */
.login-button {
  background-color: #4CAF50; /* Green */
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.login-button:hover {
  background-color: #45a049; /* Darker green */
}